.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
}

.modalContent form {
    display: flex;
    flex-direction: column;
}

.modalContent label {
    margin-bottom: 0px;
    font-size: 0.8em;
    color: #666;
}

.modalContent input,
.modalContent select,
.modalContent textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    font-size: 0.9em;
    background-color: white;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    white-space: pre-line;
    word-wrap: break-word; /* Ensures long words or URLs wrap to the next line */
    overflow-wrap: break-word; /* Alternative for broader browser support */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.modalContent textarea {
    height: auto;
    min-height: 140px;
    max-height: 300px;
    resize: none;
    margin-top: 10px;
    width: 93%;
}

.modalContent input[type="date"] {
    font-family: "Roboto", sans-serif;
}

.modalContent input[readonly],
.modalContent textarea[readonly],
.modalContent a {
    /* Grey out text for readonly inputs */
    background-color: #f9f9f9;
}

.buttons {
    padding: 10px 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancelButton,
.addButton {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cancelButton {
    background-color: transparent;
    color: #192e59;
    border: none;
    cursor: pointer;
}

.deleteButton {
    background-color: #e91e25;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.saveButton {
    background: linear-gradient(180deg, #192e59, #0a193b);
    color: white;
    padding: 10px 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addButton {
    background: linear-gradient(180deg, #192e59, #0a193b);
    color: white;
    padding: 10px 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.uploadButton {
    background: linear-gradient(180deg, #192e59, #0a193b);
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ccc;
    margin: 0 10px;
}

.dividerText {
    font-size: 0.9em;
    color: #666;
    white-space: nowrap;
}

.successList,
.errorList {
    line-height: 20px;
}

.h3heading {
    text-align: center;
}