.notification-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #192E59;;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeIn 0.5s ease-out;
}

.notification-popup button {
    background: none;
    color: #fff;
    border: none;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}