.registration-complete-container {
    display: flex;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #CBE2FB;
}

.thumbs-up {
    width: 400px;
    height: auto;
    object-fit: cover;
}

.registration-complete-button {
    width: 20em;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #CBE2FB;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #192E59;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10%;
}

.registration-complete-button:hover {
    background-color: rgb(1, 1, 75);
}

.complete-details {
    inline-size: 310px;
    overflow-wrap: break-word;
    text-align: center;
    margin-bottom: 30px;
}