.breadcrumbs a {
    text-decoration: none;
    color: #666; 
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.breadcrumbSeparator {
    margin: 0 10px; 
}

.semester-settings-container {
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.add-semester-button {
    background: #192E59;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-semester-button:hover {
    background-color: #0F1E42;
}

.semester-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.9em;
}

.semester-table th, .semester-table td {
    border-bottom: 1px solid #E2E8F0; 
    padding: 20px 10px;
    text-align: center;
}

.semester-table th {
    background-color: transparent;
    color: #9d9ea4;
    font-weight: 400;
}

.semester-table th:nth-child(2), .semester-table td:nth-child(2) {
    width: 120px; 
}

.semester-table td:nth-child(6) {
    font-style: italic;
}

.semester-table th:nth-child(7), .semester-table td:nth-child(7) {
    width: 120px; 
}

.semester-table tbody tr {
    cursor: pointer;
}

.semester-table tbody tr:hover {
    background-color: #f5f5f5;
}


.status-badge {
    border-radius: 4px;
    display: inline-block;
    font-size: 0.8em; 
    border: 1px solid; 
}

.status-upcoming {
    padding: 3px 10px; 
    background-color: #FFBF0850;
    border-color: #FFBF08;
    color: #B58200;
}

.status-ongoing {
    padding: 3px 14px; 
    background-color: #16C09850;
    border-color: #00B087; 
    color: #008767; 
}

.status-ended {
    padding: 3px 20px; 
    background-color: #FFC5C5;
    border-color: #DF0404; 
    color: #DF0404; 
}

.remarks-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30px;
}
