.side-nav {
    width: 230px;
    height: 100vh;
    /* background-color: #192E59; */
    background: linear-gradient(90deg, #192e59, #0a193b);
    /* box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-clip: padding-box;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 0px 30px 30px 0px;
}

.side-nav.collapsed {
    width: 80px;
}

.side-nav.collapsed .menu-item {
    justify-content: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: visible;
}

.side-nav.collapsed .menu-item .menu-icon {
    margin-right: 0;
}

.side-nav .collapse-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: unset;
}

.side-nav.collapsed .collapse-button {
    right: 40%; /* Center horizontally when collapsed */
    transform: translateX(50%);
}

.side-nav .icon-container {
    position: relative; /* Ensures .notification-dot is positioned relative to this container */
    display: inline-block;
}

.notification-dot {
    position: absolute;
    top: -8px;
    right: -14px;
    width: 8px;
    height: 8px; 
    background-color: red; 
    border-radius: 50%;
    z-index: 9999; 
    pointer-events: none;
}

.side-nav .top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.side-nav .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.side-nav .logo {
    width: 28px;
    position: absolute;
    top: 16px;
    left: 26px;
}

.side-nav .logo-text {
    font-weight: 200;
    font-size: 1.1em;
    color: #ffffff;
    position: absolute;
    top: 22px;
    left: 72px;
}

.side-nav .divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-top: 10px;
}

.side-nav .menu-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.side-nav .menu-item {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 1em;
}

.side-nav .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.side-nav .menu-icon {
    font-size: 1.2em;
    margin-right: 20px;
}

.side-nav .bottom-section {
    text-align: center;
    margin-top: auto;
    position: absolute;
    bottom: 150px;
    left: -230px;
    width: 100%;
}

.side-nav .faculty-logo {
    width: 140px;
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .side-nav .bottom-section {
        position: static;
        padding-bottom: 20px;
    }
}

.notification-badge {
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 30%;
    margin-left: 10px;
}
